<!DOCTYPE html>
<html>

<head>
    <title>Send Challenge Details</title>
</head>

<body>
    <form action="" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <label> Host: </label>
        <input type="text" name="challenge_host" placeholder="Enter the challenge host">
        <br>
        <br>
        <label> Competition Name: </label>
        <input type="text" name="challenge_name" placeholder="Enter the challenge host">
        <br>
        <br>
        <label> Subject : </label>
        <input type="text" name="challenge_subject" placeholder="Enter the subject">
        <br>
        <br>
        <label> Body : </label>
        <textarea id="body" name="challenge_body" placeholder="Enter the body of the email" rows="20" cols="70">
        </textarea>
        <br>
        <br>
        <label>Challenge Image: </label>
        <input type="file" name="challenge_image">
        <br>
        <br>
        <button type="submit"> Submit </button>
    </form>
</body>

</html>
